body {
	background: linear-gradient(#9a08dd 0%, black 30%, #7420d3 108%);
}

.profile {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 150px; 
}

.profile h2, h4 {
	color: white;
}

.profileimage {
	width: 200px;
}

.Biodata {
	background: linear-gradient(#fffeff 0%, black 20% , #fdfdfd00 100%);
	padding-bottom: 400px;
	

}

.footer {
	background-color: white;
}


